.general-wrapper{
  width: 100%;
  height: 100vh;
}

.weather__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.weather__title {
  font-size: 2em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__input {
  width: auto;
  margin: auto;
  margin-bottom: 15px;
  height: 30px;
  width: 175px;
  &:focus {
    outline: none;
  }
}

.search-button{
  width: min-content;
}

// Weather  general container

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  height: 50vh;
  margin-top: 25px;
}

.weather-city {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 10vh;
}

.weather-container-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  border-radius: 30px;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
}

.weather-info-container p {
  font-size: 1.5em;
}
// Weather temperature container

.weather-container__title {
  font-size: 3em;
}

.weather-container__date {
  font-size: 1.5em;
}

.weather-container__text {
  font-size: 2em;
}

img {
  height: 70px;
  width: 70px;
}

.weather-container__img {
  font-size: 1.5em;
}

.weather-container__city {
  font-size: 1.5em;
}

.clear {
  background-image: url('../../assets/img/clearsky.jpg');
}

.rain {
  background-image: url('../../assets/img/rainyday.jpg');
  color: white;
}

.mist, .fog {
  background-image: url('../../assets/img/mist.jpg');
  background-size: cover;
  color: white;
}

.snow {
  background-image: url('../../assets/img/snow.jpg');
}

.warning-container {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  font-size: 3em;
}

.warning-container__text {
  font-size: 2em;
  font-weight: bolder;
}

@media (max-width: 908px)  {
  .weather-city{
    width: 25%;
    height: 10vh;
  }
  
  .weather-container-stats {
    width: 25%;
    border-radius: 30px;
  }
}

@media (max-width: 635px) {
  .weather-city{
    width: 45%;
    height: 10vh;
  }
  
  .weather-container-stats {
    width: 40%;
    border-radius: 30px;
  }

  .warning-container {
    padding-top: 100px;
    font-size: 2em;
  }
  
}
